apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ${component.kubeflow.namespace}
namePrefix: "${hub.componentName}-"

commonLabels:
  app.kubernetes.io/managed-by: superhub.io
  app.kubernetes.io/instance: ${hub.componentName}

bases:
- "${component.replikate.kustomize.base}"

images:
- name: ${component.replikate.image}
  newTag: ${component.replikate.imageTag}

generatorOptions:
  disableNameSuffixHash: true
