apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ${kubeflow.namespace}
namePrefix: "${hub.componentName}-"

commonLabels:
  app.kubernetes.io/managed-by: hubctl
  app.kubernetes.io/instance: ${hub.componentName}

bases:
- "${kustomize.base}"

images:
- name: gcr.io/superhub/kubeflow/replikate
  newTag: 20221124-145950

generatorOptions:
  disableNameSuffixHash: true
