apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
- ../base

configMapGenerator:
- name: env
  behavior: merge
  literals:
  - REMOTE_DEBUG="disabled"
  - INSTANCE_ID=replikate
- name: manifests
  behavior: merge
  files:
  - configs/argo-artifacts.yaml
  - configs/pd-pipeline.yaml
