apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  name: add-userid-header
  namespace: "{{name}}"
spec:
  # workloadSelector:
  #   labels:
  #     notebook-name: mynotebook
  configPatches:
  - applyTo: HTTP_FILTER
    match:
      context: SIDECAR_OUTBOUND
      listener:
        portNumber: 8888
        filterChain:
          filter:
            name: "envoy.http_connection_manager"
            subFilter:
              name: "envoy.router"
    patch:
      operation: INSERT_BEFORE
      value:
       name: envoy.lua
       config:
         inlineCode: |
           function envoy_on_request(request_handle)
             request_handle:headers():add("kubeflow-userid", "{profile_owner}")
           end
