apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "argo-artifacts"
  namespace: "{{name}}"
stringData:
  accesskey: "${component.bucket.accessKey}"
  secretkey: "${component.bucket.secretKey}"
