apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- rbac.yaml

configMapGenerator:
- name: env
  literals:
  - INSTANCE_ID=replikate
  - CONFIG_DIR=/etc/manifests
  - INTERVAL=5 minutes
  - ARGO_BUCKET_ACCESSKEY=access
  - ARGO_BUCKET_SECRETKEY=secret

- name: manifests
  files:
  - configs/argo-artifacts.yaml
  - configs/namespace.yaml
  - configs/envoy-filter.yaml
  - configs/pipeline-editor.yaml
  - configs/kfp-context.yaml
  - configs/rb-kserve-editor.yaml
  - configs/rb-kserve-viewer.yaml
  - configs/rb-kubeflow-serving-editor.yaml
  - configs/role-kserve.yaml
  - configs/rb-kserve.yaml

vars:
- name: MANIFESTS
  objref:
    name: manifests
    kind: ConfigMap
    apiVersion: v1
  fieldref:
    fieldpath: metadata.name
