apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "argo-artifacts"
  namespace: "{{name}}"
data:
  accesskey: "${component.bucket.accessKey/base64}"
  secretkey: "${component.bucket.secretKey/base64}"
