apiVersion: kubeflow.org/v1alpha1
kind: PodDefault
metadata:
  name: use-ingress
  namespace: "{{name}}"
  labels:
    app.kubernetes.io/managed-by: "${hub.componentName}"
spec:
  desc: Ingress configuration
  env:
  - name: INGRESS_DOMAIN
    value: "${dns.domain}"
  selector:
    matchLabels:
      use-ingress: "true"
